* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: uppercase;

    &:before,
    &:after {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        box-sizing: border-box;
        cursor: inherit;
        margin: 0;
        padding: 0;
        outline: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
    }
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    height: 100%
}

body {
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    cursor: default;
    overflow: hidden;
    height: 100%;
    font-size: 5rem
}

div.ui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    color: #070d15;

    div.ui__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 1;
        transition: background 500ms ease;
        background: #070d15 !important;
    }

    div.ui__game {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: all;
        z-index: 2;

        canvas {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}